<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>MeetupTitle</title>
  </head>
  <body>
    <div id="app">
      <div>
        <label v-for="item in 5">
          <input type="radio" :value="item" v-model="radio"/>
          {{ item }}
        </label>

        <hr />

        <h3 v-if="loading">Loading...</h3>
        <h3 v-else>{{ !currentMeetup ? 'Choose radio button' : currentMeetup.title }}</h3>
      </div>
    </div>

    <script type="module" src="script.js"></script>
  </body>
</html>
